Repository Jolly-66/JollyStation, pull requests merged in 2021-03, with the labels that each got.

#41 Specialization of the custom jobs
  code/datums/quirks/negative.dm
  code/game/gamemodes/objective_items.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  config/admins.txt
  config/lavaruinblacklist.txt
  config/spaceruinblacklist.txt
  jollystation.dme
  jollystation_modules/code/modules/clothing/suits/labcoat.dm
  jollystation_modules/code/modules/clothing/under/jobs/rnd.dm
  jollystation_modules/code/modules/jobs/job_types/bridge_officer.dm
  jollystation_modules/code/modules/jobs/job_types/toxicologist.dm
  jollystation_modules/code/modules/jobs/job_types/xenobiologist.dm
  jollystation_modules/icons/mob/clothing/suit.dmi
  jollystation_modules/icons/mob/clothing/under/rnd.dmi
  jollystation_modules/icons/obj/clothing/under/rnd.dmi
Labels: Feature, Project Request, Sprites

#45 tuning up custom jobs
  code/datums/id_trim/jobs.dm
  code/datums/mapgen/Cavegens/LavalandGenerator.dm
  code/game/machinery/computer/crew.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/scientist.dm
  config/game_options.txt
  config/lavaruinblacklist.txt
  icons/obj/card.dmi
  jollystation_modules/code/datums/id_trim/jobs.dm
  jollystation_modules/code/modules/jobs/job_types/bridge_officer.dm
  jollystation_modules/code/modules/jobs/job_types/toxicologist.dm
  jollystation_modules/code/modules/jobs/job_types/xenobiologist.dm
Labels: Tweak

#48 Fix bots speaking high draconic
  jollystation_modules/code/modules/language/highdraconic.dm
Labels: Fix

#49 Lowers felinid sounds and nukes some nasty space indentation
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/felinid.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/flypeople.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
Labels: Adjustment

#47 Advanced Traitors / Traitor Plus / Ambitions but less bad / Modular cool traitors / Oh god, oh fuck
  code/__DEFINES/antagonists.dm
  code/datums/shuttles.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/tgui/USE_BUILD_BAT_INSTEAD_OF_DREAM_MAKER.dm
  jollystation.dme
  jollystation_modules/code/__DEFINES/antag_defines.dm
  jollystation_modules/code/game/gamemodes/traitorplus/traitorplus.dm
  jollystation_modules/code/modules/antagonists/_common/antag_datum.dm
  jollystation_modules/code/modules/antagonists/advanced_traitor/advanced_objective.dm
  jollystation_modules/code/modules/antagonists/advanced_traitor/advanced_traitor.dm
  jollystation_modules/code/modules/antagonists/advanced_traitor/advanced_traitor_panel.dm
  jollystation_modules/sound/radiodrum.ogg
Labels: Feature, Project Request

#52 Adds a good few more unique examine lines
  jollystation.dme
  jollystation_modules/code/__DEFINES/examine_defines.dm
  jollystation_modules/code/datums/elements/unique_examine.dm
  jollystation_modules/code/game/objects/items.dm
  jollystation_modules/code/game/objects/unique_examine_items.dm
  jollystation_modules/code/modules/mob/living/living.dm
Labels: Adjustment, Feature

#53 Positive quirk: No appendix
  jollystation_modules/code/datums/quirks/good.dm
Labels: Feature

#58 More modular job fixes
  jollystation_modules/code/modules/jobs/job_types/bridge_officer.dm
  jollystation_modules/code/modules/jobs/job_types/toxicologist.dm
  jollystation_modules/code/modules/jobs/job_types/xenobiologist.dm
Labels: Fix

#60 Revert "[Modular] Adds... Shipstation (#20)"
  _maps/map_files/ShipStation/ShipStation.dmm
  _maps/shipstation.json
  _maps/shuttles/station_ship.dmm
  config/maps.txt
  jollystation.dme
  jollystation_modules/code/game/gamemodes/brother/traitor_bro.dm
  jollystation_modules/code/game/gamemodes/changeling/changeling.dm
  jollystation_modules/code/game/gamemodes/changeling/traitor_chan.dm
  jollystation_modules/code/game/gamemodes/cult/cult.dm
  jollystation_modules/code/game/gamemodes/devil/devil_game_mode.dm
  jollystation_modules/code/game/gamemodes/monkey/monkey.dm
  jollystation_modules/code/game/gamemodes/revolution/revolution.dm
  jollystation_modules/code/game/gamemodes/traitor/traitor.dm
  jollystation_modules/code/game/objects/effects/landmarks.dm
  jollystation_modules/code/modules/clothing/gloves/color.dm
  jollystation_modules/code/modules/clothing/head/jobs.dm
  jollystation_modules/code/modules/clothing/under/jobs/command.dm
  jollystation_modules/code/modules/jobs/access.dm
  jollystation_modules/code/modules/jobs/job_types/shuttle_pilot.dm
  jollystation_modules/icons/mob/clothing/hands.dmi
  jollystation_modules/icons/mob/clothing/head.dmi
  jollystation_modules/icons/mob/clothing/under/captain.dmi
  jollystation_modules/icons/mob/hud.dmi
  jollystation_modules/icons/obj/card.dmi
  jollystation_modules/icons/obj/clothing/gloves.dmi
  jollystation_modules/icons/obj/clothing/hats.dmi
  jollystation_modules/icons/obj/clothing/under/captain.dmi
Labels: Removal

#62 TGUI Ambitions / Advanced Traitors / Cool Guy Panel (Hopefully this works)
  jollystation_modules/code/modules/antagonists/advanced_traitor/advanced_objective.dm
  jollystation_modules/code/modules/antagonists/advanced_traitor/advanced_traitor.dm
  jollystation_modules/code/modules/antagonists/advanced_traitor/advanced_traitor_panel.dm
  tgui/packages/tgui/interfaces/_AdvancedTraitorPanel.js
Labels: Adjustment, Based Pill
