Repository Jolly-66/JollyStation, pull requests merged in 2021-01, with the labels that each got.

#1 typing indicators
  code/controllers/subsystem/input.dm
  code/datums/keybinding/communication.dm
  code/modules/mob/typing_indicator.dm
  icons/mob/talk.dmi
Labels: Based Pill

#2 Adds Lima Station
  _maps/_basemap.dm
  _maps/limastation.json
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/shuttles/cargo_lima.dmm
  _maps/shuttles/emergency_lima.dmm
  _maps/shuttles/labour_lima.dmm
  _maps/shuttles/mining_lima.dmm
  code/datums/shuttles.dm
  config/maps.txt
Labels: Map

#5 General, Medical and Security Records + Exploitable Information for Antags
  code/__DEFINES/antagonists.dm
  code/__DEFINES/say.dm
  code/datums/datacore.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/security.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  data/player_saves/d/doshmobile/preferences.sav
  jollystation.dme
  jollystation_modules/code/__HELPERS/text_vr.dm
  jollystation_modules/code/modules/antagonists/_common/antag_datum.dm
  jollystation_modules/code/modules/client/preferences.dm
  jollystation_modules/code/modules/mob/dead/new_player/sprite_accessories.dm
  jollystation_modules/icons/mob/human_face.dmi
  tgstation.dme
Labels: Based Pill, Project Request

#6 Framework for quirk value rebalancing
  jollystation.dme
  jollystation_modules/code/datums/traits/good.dm
  jollystation_modules/code/datums/traits/negative.dm
Labels: Fix

#8 Size quirk y offsets
  jollystation_modules/code/datums/traits/neutral.dm
Labels: Adjustment

#9 LOOC keybind and other communication bind fixes
  code/controllers/subsystem/input.dm
  code/datums/keybinding/communication.dm
  code/modules/client/client_procs.dm
  jollystation.dme
  jollystation_modules/code/__DEFINES/keybinding.dm
  jollystation_modules/code/datums/keybinding/communication.dm
Labels: Project Request

#11 makes the compiler recognize module files
  tools/build/build.js
Labels: Fix

#12 Adds Xenobiologist and Toxicologist to science
  code/modules/jobs/jobs.dm
  config/jobs.txt
  data/next_map.json
  data/player_saves/j/jolly66/preferences.sav
  data/player_saves/j/jolly66/scars.sav
  jollystation.dme
  jollystation_modules/code/__DEFINES/jobs.dm
  jollystation_modules/code/modules/jobs/job_types/toxicologist.dm
  jollystation_modules/code/modules/jobs/job_types/xenobiologist.dm
Labels: Feature, Project Request
