Repository Jolly-66/JollyStation, pull requests merged in 2021-05, with the labels that each got.

#74 Loaaaaaaaadouuuuuuuuuuutsssssss (+Fancy TGUI, a buncha items, and other stuff)
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/jobs/job_types/_job.dm
  jollystation.dme
  jollystation_modules/code/game/objects/unique_examine_items.dm
  jollystation_modules/code/modules/client/loadout_items.dm
  jollystation_modules/code/modules/client/loadout_manager.dm
  jollystation_modules/code/modules/client/preferences.dm
  jollystation_modules/code/modules/clothing/accessories/loadout_accessories.dm
  jollystation_modules/code/modules/clothing/accessories/loadout_inhand_items.dm
  jollystation_modules/code/modules/clothing/glasses/loadout_glasses.dm
  jollystation_modules/code/modules/clothing/gloves/loadout_gloves.dm
  jollystation_modules/code/modules/clothing/head/loadout_helmet.dm
  jollystation_modules/code/modules/clothing/shoes/loadout_shoes.dm
  jollystation_modules/code/modules/clothing/suits/loadout_suits.dm
  jollystation_modules/code/modules/clothing/under/digi_under.dm
  jollystation_modules/code/modules/clothing/under/loadout_under.dm
  tgui/packages/tgui/interfaces/_LoadoutManager.js
Labels: Based Pill, Feature, Project Request

#79 Lock phazons behind illegal tech
  jollystation_modules/code/modules/research/techweb/all_nodes.dm
Labels: Tweak

#78 Edit to Bridge Officers Access + Tidying it the Fuck Up
  jollystation_modules/code/datums/id_trim/jobs.dm
Labels: Adjustment

#80 I started by adding some requested items to loadouts and it got out of hand (cleans up BO/QM/Tox/Xeno jobs + sprites a lot)
  code/controllers/subsystem/id_access.dm
  code/game/machinery/PDApainter.dm
  code/modules/jobs/job_types/quartermaster.dm
  jollystation.dme
  jollystation_modules/code/game/objects/items/devices/PDA/PDA_types.dm
  jollystation_modules/code/game/objects/items/devices/radio/encryptionkey.dm
  jollystation_modules/code/game/objects/items/devices/radio/headset.dm
  jollystation_modules/code/modules/client/loadout_items.dm
  jollystation_modules/code/modules/clothing/head/jobs.dm
  jollystation_modules/code/modules/clothing/suits/armor.dm
  jollystation_modules/code/modules/clothing/suits/labcoat.dm
  jollystation_modules/code/modules/clothing/under/jobs/security.dm
  jollystation_modules/code/modules/jobs/job_types/bridge_officer.dm
  jollystation_modules/code/modules/modular_computers/computers/item/tablet_presets.dm
  jollystation_modules/icons/mob/clothing/head.dmi
  jollystation_modules/icons/obj/clothing/hats.dmi
  jollystation_modules/icons/obj/clothing/suit.dmi
  jollystation_modules/icons/obj/pda.dmi
Labels: Adjustment, Fix, Project Request, Sprites

#81 (Hopefully fixes) sticky typing indicators + fixes y'all dumb DME error
  jollystation.dme
  jollystation_modules/code/modules/mob/typing_indicator.dm
Labels: Fix

#82 Fake Announcements Traitor Items + Minor AdvTraitor Fixes
  jollystation.dme
  jollystation_modules/code/modules/uplink/uplink_devices.dm
  jollystation_modules/code/modules/uplink/uplink_items.dm
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/_FakeCommandReport.js
Labels: Feature

#84 Infiltrators + Advanced Antag Cleanup + New Antag Items
  code/game/objects/items/implants/implantuplink.dm
  jollystation.dme
  jollystation_modules/code/__DEFINES/antag_defines.dm
  jollystation_modules/code/game/gamemodes/traitorplus/traitorplus.dm
  jollystation_modules/code/modules/antagonists/_common/advanced_antag.dm
  jollystation_modules/code/modules/antagonists/_common/antag_datum.dm
  jollystation_modules/code/modules/antagonists/advanced_heretic/advanced_heretic.dm
  jollystation_modules/code/modules/antagonists/advanced_traitor/advanced_traitor.dm
  jollystation_modules/code/modules/antagonists/infiltrator/advanced_infiltrator.dm
  jollystation_modules/code/modules/antagonists/infiltrator/infiltrator.dm
  jollystation_modules/code/modules/uplink/uplink_devices.dm
  jollystation_modules/code/modules/uplink/uplink_infiltrator.dm
  jollystation_modules/code/modules/uplink/uplink_items.dm
Labels: Feature

#87 More maintenance
  .gitignore
  config/dbconfig.txt
Labels: Maintenance

#85 Module Comment Updates
  code/controllers/subsystem/job.dm
  code/datums/id_trim/jobs.dm
  code/datums/mapgen/Cavegens/LavalandGenerator.dm
  code/game/gamemodes/objective_items.dm
  code/game/machinery/computer/crew.dm
  code/modules/client/preferences.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/modular_computers/file_system/programs/jobmanagement.dm
  jollystation_modules/README.md
Labels: Maintenance

#88 GAGS BO PDA + QM PDA
  code/game/machinery/PDApainter.dm
  jollystation_modules/README.md
  jollystation_modules/code/game/objects/items/devices/PDA/PDA_types.dm
  jollystation_modules/icons/obj/pda.dmi
Labels: Adjustment

#89 Adds mailing list to our jobs
  code/modules/jobs/job_types/scientist.dm
  jollystation_modules/code/modules/jobs/job_types/bridge_officer.dm
  jollystation_modules/code/modules/jobs/job_types/toxicologist.dm
  jollystation_modules/code/modules/jobs/job_types/xenobiologist.dm
Labels: Feature, Project Request

#93 Toxicologist and Xenobio PDAs (via GAGS)
  jollystation.dme
  jollystation_modules/code/datums/greyscale/json_configs/greyscale_configs.dm
  jollystation_modules/code/datums/greyscale/json_configs/pda_stripe_two_color.json
  jollystation_modules/code/game/objects/items/devices/PDA/PDA_types.dm
  jollystation_modules/code/modules/jobs/job_types/toxicologist.dm
  jollystation_modules/code/modules/jobs/job_types/xenobiologist.dm
Labels: Sprites

#94 Lets you paint the new PDAs
  jollystation_modules/code/game/objects/items/devices/PDA/PDA_types.dm
Labels: Fix
