Repository Jolly-66/JollyStation, pull requests merged in 2021-02, with the labels that each got.

#14 POWERFUL PR ENERGY: Flavor text.
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  jollystation.dme
  jollystation_modules/code/__DEFINES/_module_defines.dm
  jollystation_modules/code/__DEFINES/~module_defines.dm
  jollystation_modules/code/modules/client/client_defines.dm
  jollystation_modules/code/modules/client/preferences.dm
  jollystation_modules/code/modules/mob/living/carbon/human/examine.dm
  jollystation_modules/code/modules/mob/living/carbon/human/human.dm
  jollystation_modules/code/modules/mob/living/carbon/human/human_helpers.dm
  jollystation_modules/code/modules/mob/logout.dm
  jollystation_modules/code/modules/mob/mob_defines.dm
Labels: Feature, Project Request

#16 Makes flavor hrefs actually reachable by players
  jollystation_modules/code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#17 Looc adjustments
  code/__DEFINES/chat.dm
  jollystation_modules/code/modules/client/verbs/looc.dm
  tgui/packages/tgui-panel/chat/constants.js
Labels: Adjustment

#18 Fixes LOOC again for real
  jollystation_modules/code/modules/client/verbs/looc.dm
Labels: Fix

#19 Bringing the Bridge Officer to the.. bridge
  .gitignore
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/botanist.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/jobs/job_types/psychologist.dm
  code/modules/jobs/jobs.dm
  config/admins.txt
  data/player_saves/j/jolly66/preferences.sav
  data/player_saves/j/jolly66/scars.sav
  data/player_saves/m/mario90900/preferences.sav
  data/player_saves/n/nikotheguydude/preferences.sav
  jollystation.dme
  jollystation_modules/code/__DEFINES/jobs.dm
  jollystation_modules/code/game/objects/items/devices/radio/encryptionkey.dm
  jollystation_modules/code/game/objects/items/devices/radio/headset.dm
  jollystation_modules/code/modules/clothing/under/jobs/civilian/civilian.dm
  jollystation_modules/code/modules/jobs/job_types/bridge_officer.dm
  jollystation_modules/code/modules/jobs/job_types/head_of_service.dm
Labels: Feature

#7 untaints tgstation.dme
  tgstation.dme
Labels: Fix

#21 Adjusts how id card and huds get custom job icons to be less terrible but still bad
  code/modules/jobs/access.dm
  jollystation.dme
  jollystation_modules/code/game/objects/items/card_ids.dm
  jollystation_modules/code/modules/jobs/access.dm
  jollystation_modules/code/modules/jobs/job_types/toxicologist.dm
  jollystation_modules/code/modules/jobs/job_types/xenobiologist.dm
  jollystation_modules/code/modules/mob.dm
  jollystation_modules/code/modules/mob/living/living.dm
Labels: Adjustment

#20 [Modular] Adds... Shipstation
  _maps/map_files/ShipStation/ShipStation.dmm
  _maps/shipstation.json
  _maps/shuttles/station_ship.dmm
  config/maps.txt
  jollystation.dme
  jollystation_modules/code/datums/shuttles.dm
  jollystation_modules/code/game/area/areas/shuttles.dm
  jollystation_modules/code/game/gamemodes/brother/traitor_bro.dm
  jollystation_modules/code/game/gamemodes/changeling/changeling.dm
  jollystation_modules/code/game/gamemodes/changeling/traitor_chan.dm
  jollystation_modules/code/game/gamemodes/cult/cult.dm
  jollystation_modules/code/game/gamemodes/devil/devil_game_mode.dm
  jollystation_modules/code/game/gamemodes/monkey/monkey.dm
  jollystation_modules/code/game/gamemodes/revolution/revolution.dm
  jollystation_modules/code/game/gamemodes/traitor/traitor.dm
  jollystation_modules/code/game/objects/effects/landmarks.dm
  jollystation_modules/code/modules/clothing/gloves/color.dm
  jollystation_modules/code/modules/clothing/head/jobs.dm
  jollystation_modules/code/modules/clothing/under/jobs/command.dm
  jollystation_modules/code/modules/jobs/access.dm
  jollystation_modules/code/modules/jobs/job_types/shuttle_pilot.dm
  jollystation_modules/code/modules/shuttle/shipstation.dm
  jollystation_modules/icons/mob/clothing/hands.dmi
  jollystation_modules/icons/mob/clothing/head.dmi
  jollystation_modules/icons/mob/clothing/under/captain.dmi
  jollystation_modules/icons/mob/hud.dmi
  jollystation_modules/icons/obj/card.dmi
  jollystation_modules/icons/obj/clothing/gloves.dmi
  jollystation_modules/icons/obj/clothing/hats.dmi
  jollystation_modules/icons/obj/clothing/under/captain.dmi
Labels: Map

#23 [Semi-Modular] Hairlizard Moment
  code/__DEFINES/misc.dm
  code/modules/mob/living/carbon/human/species.dm
  jollystation.dme
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
Labels: Feature

#24 [Modular] Adds VG Decals, Removes Toxicologist positions from ShipStation.
  _maps/shipstation.json
  jollystation.dme
  jollystation_modules/code/game/objects/effects/decals/vgdecals.dm
  jollystation_modules/icons/turf/vgstation_decals.dmi
Labels: Adjustment, Fix

#22 [Modular] Cryostasis
  _maps/map_files/LimaStation/LimaStation.dmm
  _maps/map_files/ShipStation/ShipStation.dmm
  _maps/shuttles/station_ship.dmm
  jollystation.dme
  jollystation_modules/code/controllers/subsystem/job.dm
  jollystation_modules/code/game/area/area.dm
  jollystation_modules/code/game/machinery/cryopod.dm
  jollystation_modules/code/modules/client/verbs/ai.dm
  jollystation_modules/icons/obj/machines/cryogenics.dmi
Labels: Feature

#29 The Resource Wars: Adds two new events to aid the "lowpop: no miner = no resource" issue
  jollystation.dme
  jollystation_modules/code/game/objects/items/structures/crate_lockers/crates.dm
  jollystation_modules/code/modules/events/resource_drift.dm
  jollystation_modules/code/modules/events/resource_pods.dm
Labels: Feature

#27 [Modular] Special Examination Framework
  jollystation.dme
  jollystation_modules/code/__DEFINES/examine_defines.dm
  jollystation_modules/code/game/objects/items.dm
Labels: Feature

#28 Ports Skrell to JollyStation
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/mobs.dm
  code/__HELPERS/global_lists.dm
  code/__HELPERS/mobs.dm
  code/game/machinery/limbgrower.dm
  code/modules/admin/create_mob.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/language/language_holder.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  config/game_options.txt
  jollystation.dme
  jollystation_modules/code/modules/mob/living/carbon/human/skrell.dm
  jollystation_modules/code/modules/mob/living/carbon/human/skrell_hair.dm
  jollystation_modules/code/modules/skrell/flavor_misc_js.dm
  jollystation_modules/code/modules/skrell/language.dm
  jollystation_modules/icons/mob/human_parts_greyscale_js.dmi
  jollystation_modules/icons/mob/skrell_eyes.dmi
  jollystation_modules/icons/mob/skrell_hair.dmi
  jollystation_modules/icons/mob/skrell_organs.dmi
  jollystation_modules/icons/mob/skrell_parts_greyscale.dmi
Labels: Based Pill, Feature, Merge Conflict

#30 [Modular] [SM] Human Horns Feex
  jollystation.dme
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/humans.dm
Labels: Fix

#32 Fixes grey lizard horns (?)
  code/modules/mob/living/carbon/human/species.dm
Labels: Fix

#34 Refactors the examine stuff port to be not bad
  jollystation.dme
  jollystation_modules/code/__DEFINES/examine_defines.dm
  jollystation_modules/code/datums/elements/unique_examine.dm
  jollystation_modules/code/game/objects/items.dm
Labels: Adjustment, Based Pill, Feature

#35 Reverts hairlizards (for now)
  code/__DEFINES/misc.dm
  code/modules/mob/living/carbon/human/species.dm
  jollystation.dme
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/humans.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
Labels: Tweak

#36 Big preferences cleanup + runechat color preference
  code/datums/chatmessage.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  jollystation.dme
  jollystation_modules/code/__HELPERS/text_helpers.dm
  jollystation_modules/code/__HELPERS/text_vr.dm
  jollystation_modules/code/modules/client/preferences.dm
  jollystation_modules/code/modules/mob/living/carbon/human/examine.dm
  jollystation_modules/code/modules/mob/living/carbon/human/human_helpers.dm
Labels: Adjustment, Feature

#37 Speech sounds for humans, monkeys, skeletons, lizards, moths, skrell, and robots (+ radio sounds)
  code/datums/chatmessage.dm
  jollystation.dme
  jollystation_modules/code/datums/elements/unique_examine.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/android.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/monkey.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/mothmen.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/skeletons.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/skrell.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/species.dm
  jollystation_modules/code/modules/mob/living/living.dm
  jollystation_modules/code/modules/mob/living/silicon/silicon.dm
  jollystation_modules/code/modules/mob/living/simple_animal/bot/bot.dm
  jollystation_modules/code/modules/mob/living/simple_animal/simple_animal.dm
  jollystation_modules/sound/voice/huff.ogg
  jollystation_modules/sound/voice/huff_ask.ogg
  jollystation_modules/sound/voice/huff_exclaim.ogg
  jollystation_modules/sound/voice/lizard_1.ogg
  jollystation_modules/sound/voice/lizard_2.ogg
  jollystation_modules/sound/voice/lizard_3.ogg
  jollystation_modules/sound/voice/moff_1.ogg
  jollystation_modules/sound/voice/moff_2.ogg
  jollystation_modules/sound/voice/moff_3.ogg
  jollystation_modules/sound/voice/monkey_1.ogg
  jollystation_modules/sound/voice/radio.ogg
  jollystation_modules/sound/voice/radio_2.ogg
  jollystation_modules/sound/voice/radio_ai.ogg
  jollystation_modules/sound/voice/skelly.ogg
  jollystation_modules/sound/voice/skelly_ask.ogg
  jollystation_modules/sound/voice/skelly_exclaim.ogg
  jollystation_modules/sound/voice/speak_1.ogg
  jollystation_modules/sound/voice/speak_1_ask.ogg
  jollystation_modules/sound/voice/speak_1_exclaim.ogg
  jollystation_modules/sound/voice/speak_2.ogg
  jollystation_modules/sound/voice/speak_2_ask.ogg
  jollystation_modules/sound/voice/speak_2_exclaim.ogg
  jollystation_modules/sound/voice/speak_3.ogg
  jollystation_modules/sound/voice/speak_3_ask.ogg
  jollystation_modules/sound/voice/speak_3_exclaim.ogg
  jollystation_modules/sound/voice/speak_4.ogg
  jollystation_modules/sound/voice/speak_4_ask.ogg
  jollystation_modules/sound/voice/speak_4_exclaim.ogg
Labels: Feature, Project Request

#38 Merge Maintenace and Fixes
  code/__DEFINES/say.dm
  code/datums/datacore.dm
  code/datums/quirks/good.dm
  code/datums/quirks/negative.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  config/maps.txt
  jollystation.dme
  jollystation_modules/README.md
  jollystation_modules/code/datums/quirks/_quirk_blacklist.dm
  jollystation_modules/code/datums/quirks/good.dm
  jollystation_modules/code/datums/quirks/negative.dm
  jollystation_modules/code/datums/quirks/neutral.dm
  jollystation_modules/code/game/objects/items/structures/crate_lockers/crates.dm
  jollystation_modules/code/modules/client/verbs/looc.dm
  jollystation_modules/code/modules/events/resource_pods.dm
  jollystation_modules/code/modules/mob/living/carbon/human/human.dm
Labels: Fix, Jolly

#39 Repath updates, tweaks. Port from sqnztb/tgstation
  _maps/map_files/LimaStation/LimaStation.dmm
Labels: Tweak

#40 bulk of the sounds
  jollystation.dme
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/ethereal.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/felinid.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/flypeople.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/podpeople.dm
  jollystation_modules/code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  jollystation_modules/sound/voice/cat.ogg
  jollystation_modules/sound/voice/cat_ask.ogg
  jollystation_modules/sound/voice/cat_exclaim1.ogg
  jollystation_modules/sound/voice/cat_exclaim2.ogg
  jollystation_modules/sound/voice/cat_exclaim3.ogg
  jollystation_modules/sound/voice/etheral.ogg
  jollystation_modules/sound/voice/etheral_ask.ogg
  jollystation_modules/sound/voice/etheral_exclaim.ogg
  jollystation_modules/sound/voice/fly.ogg
  jollystation_modules/sound/voice/fly2.ogg
  jollystation_modules/sound/voice/fly_ask.ogg
  jollystation_modules/sound/voice/fly_exclaim.ogg
  jollystation_modules/sound/voice/pod.ogg
  jollystation_modules/sound/voice/pod2.ogg
  jollystation_modules/sound/voice/shadow1.ogg
  jollystation_modules/sound/voice/shadow2.ogg
  jollystation_modules/sound/voice/shadow_ask.ogg
  jollystation_modules/sound/voice/shadow_exclaim.ogg
Labels: Feature
