Repository Jolly-66/JollyStation, pull requests merged in 2021-06, with the labels that each got.

#98 The Great Lima-ning: Lima 3(?) (Or something like that) (Remastered)
  _maps/map_files/LimaStation/LimaStation.dmm
  jollystation.dme
  jollystation_modules/code/game/area/space_station_13_areas.dm
  jollystation_modules/code/game/objects/effects/landmarks.dm
  jollystation_modules/code/game/objects/items/structures/static_plaques.dm
Labels: Map

#101 resolves some leftover dmi merge conflicts
  icons/obj/card.dmi
Labels: Fix

#100 Adds GAGS support to loadouts / the loadout manager (this shit's crazy)
  code/__HELPERS/icons.dm
  code/datums/greyscale/json_configs/plushie_lizard.json
  code/game/objects/items/plushes.dm
  code/modules/client/preferences_savefile.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/assistant.dm
  jollystation.dme
  jollystation_modules/code/__DEFINES/_module_defines.dm
  jollystation_modules/code/modules/client/loadout_items.dm
  jollystation_modules/code/modules/client/loadout_manager.dm
  jollystation_modules/code/modules/client/loadout_outfit_helpers.dm
  jollystation_modules/code/modules/client/preferences.dm
  jollystation_modules/code/modules/clothing/accessories/loadout_accessories.dm
  jollystation_modules/code/modules/clothing/accessories/loadout_pocket_items.dm
  jollystation_modules/code/modules/clothing/shoes/loadout_shoes.dm
  jollystation_modules/code/modules/clothing/under/loadout_under.dm
  tgui/packages/tgui/interfaces/_LoadoutManager.js
Labels: Adjustment, Based Pill, Feature, Fix

#102 (Maybe?) Fixes weird edge cases where null values sneak into loadout lists
  code/modules/client/preferences_savefile.dm
  jollystation_modules/code/__DEFINES/_module_defines.dm
  jollystation_modules/code/modules/client/loadout_manager.dm
  jollystation_modules/code/modules/client/loadout_outfit_helpers.dm
Labels: Fix

#57 Adds Leemabeens
  code/modules/vending/megaseed.dm
  jollystation_modules/code/modules/hydroponics/grown/beans.dm
Labels: Feature, Jolly, Sprites
